<h1>Devise Configuration</h1>

<nav>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#mappings" role="tab" data-toggle="pill">Mappings</a></li>
    <li role="presentation"><a href="#overview" role="tab" data-toggle="pill">Overview</a></li>
    <li role="presentation"><a href="#config" role="tab" data-toggle="pill">Config</a></li>
  </ul>
</nav>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="mappings">
    <% Devise.mappings.each do |key, mapping| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">:<%= key %> =&gt; <%= mapping.class_name %></h3>
        </div>
        <div class="panel-body">
          <h3>Attributes</h3>
          <table class="table table-condensed">
            <tr>
              <th>Attribute</th>
              <th>Value</th>
            </tr>
            <% [:singular, :scoped_path, :path, :controllers, :path_names,
                :class_name, :sign_out_via, :format, :used_routes, :used_helpers,
                :failure_app, :router_name, :strategies, :authenticatable?].each do |attr| %>
              <tr>
                <td><%= attr %></td>
                <td><%= mapping.send(attr) %></td>
              </tr>
          <% end %>
          </table>
          <h3>Enabled Modules</h3>
          <table class="table table-condensed">
            <tr>
              <th>Module Name</th>
              <th>Config Options</th>
            </tr>
          <% mapped_class = mapping.to
             mapped_class.devise_modules.each do |devise_module| %>
            <tr>
              <td>:<%= devise_module %></td>
              <td>
                <%
                  mod = Devise::Models.const_get(devise_module.to_s.classify)
                  if mod.const_defined?(:ClassMethods)
                    class_mod = mod.const_get(:ClassMethods)
                    if class_mod.respond_to?(:available_configs)
                      class_mod.available_configs.each do |config| %>
                        <%= config %>:
                        <code><%= mapped_class.send(config) %></code><br/>
                <%    end
                    end
                  end
                %>
              </td>
            </tr>
          <% end %>
          </table>
      </div>
    <% end %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="overview">
    <dl class="dl-horizontal">
      <dt>Devise Version</dt><dd><%= Devise::VERSION %></dd>
    </dl>
<pre>
  Devise::ALL = <%= Devise::ALL %>

  Devise::CONTROLLERS = <%= Devise::CONTROLLERS %>

  Devise::ROUTES = <%= Devise::ROUTES %>

  Devise::STRATEGIES = <%= Devise::STRATEGIES %>

  Devise::URL_HELPERS = <%= Devise::URL_HELPERS %>

</pre>
  </div>
  <div role="tabpanel" class="tab-pane" id="config">
<pre>
rememberable_options = <%= Devise.rememberable_options %>
stretches = <%= Devise.stretches %>
http_authentication_key = <%= Devise.http_authentication_key %>
authentication_keys = <%= Devise.authentication_keys %>
request_keys = <%= Devise.request_keys %>
case_insensitive_keys = <%= Devise.case_insensitive_keys %>
strip_whitespace_keys = <%= Devise.strip_whitespace_keys %>
http_authenticatable = <%= Devise.http_authenticatable %>
http_authenticatable_on_xhr = <%= Devise.http_authenticatable_on_xhr %>
params_authenticatable = <%= Devise.params_authenticatable %>
http_authentication_realm = <%= Devise.http_authentication_realm %>
email_regexp = <%= Devise.email_regexp %>
password_length = <%= Devise.password_length %>
remember_for = <%= Devise.remember_for %>
extend_remember_period = <%= Devise.extend_remember_period %>
allow_unconfirmed_access_for = <%= Devise.allow_unconfirmed_access_for %>
confirm_within = <%= Devise.confirm_within %>
confirmation_keys = <%= Devise.confirmation_keys %>
reconfirmable = <%= Devise.reconfirmable %>
timeout_in = <%= Devise.timeout_in %>
pepper = <%= Devise.pepper %>
scoped_views = <%= Devise.scoped_views %>
lock_strategy = <%= Devise.lock_strategy %>
unlock_keys = <%= Devise.unlock_keys %>
unlock_strategy = <%= Devise.unlock_strategy %>
maximum_attempts = <%= Devise.maximum_attempts %>
unlock_in = <%= Devise.unlock_in %>
reset_password_keys = <%= Devise.reset_password_keys %>
reset_password_within = <%= Devise.reset_password_within %>
default_scope = <%= Devise.default_scope %>
mailer_sender = <%= Devise.mailer_sender %>
skip_session_storage = <%= Devise.skip_session_storage %>
navigational_formats = <%= Devise.navigational_formats %>
sign_out_all_scopes = <%= Devise.sign_out_all_scopes %>
sign_out_via = <%= Devise.sign_out_via %>
parent_controller = <%= Devise.parent_controller %>
parent_mailer = <%= Devise.parent_mailer %>
router_name = <%= Devise.router_name %>
omniauth_path_prefix = <%= Devise.omniauth_path_prefix %>
clean_up_csrf_token_on_authentication = <%= Devise.clean_up_csrf_token_on_authentication %>
omniauth_configs = <%= Devise.omniauth_configs %>
helpers = <%= Devise.helpers %>
warden_config = <%= Devise.warden_config %>
paranoid = <%= Devise.paranoid %>
last_attempt_warning = <%= Devise.last_attempt_warning %>
token_generator = <%= Devise.token_generator %>

omniauth_providers = <%= Devise.omniauth_providers %>
available_router_name = <%= Devise.available_router_name %>
</pre>
</div>

</div>
