<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tuttle</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" integrity="sha256-Zd1icfZ72UBmsId/mUcagrmN7IN5Qkrvh75ICHIQVTk=" crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" integrity="sha256-3YM6A3pH4QFCl9WbSU8oXF5N6W/2ylvW0o2g+Z6TmLQ=" crossorigin="anonymous" />
  <%= content_for(:stylesheets) -%>
  <link rel="icon" href="//s3.amazonaws.com/tuttle-assets/images/favicon.ico">
  <style>
    html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }
    body { padding-top: 50px; }
    table.not-wide { width: auto; }
    table code { color: black; background-color: inherit; padding: 0; }
    table.table-condensed tbody tr td:first-child { padding-left: 0; }
    a[href*="github.com"] { white-space: nowrap; }
    a[href*="github.com"]:after { font-family: FontAwesome; content: "\f09b";  display: inline-block;  color: initial;  padding-left: 3px; }
    details :focus { outline: none; }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('Tuttle', root_path, :class => 'navbar-brand') %>
      <%= link_to('(back to app)', main_app_root_path, :class => 'navbar-brand') %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rails <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Overview', rails_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Controllers', rails_controllers_path %></li>
            <li><%= link_to 'Models', rails_models_path %></li>
            <li><%= link_to 'Routes', rails_routes_path %></li>
            <li><%= link_to 'Helpers', rails_helpers_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Asset Pipeline', rails_assets_path %></li>
            <li><%= link_to 'Caching', rails_cache_path %></li>
            <li role="separator" class="divider"></li>
            <%- if defined?(::I18n) %>
              <li><%= link_to 'Internationalization', i18n_index_path %></li>
              <li><%= link_to 'Localization', localize_i18n_index_path %></li>
              <li role="separator" class="divider"></li>
            <% end %>
            <li><%= link_to 'Database', rails_database_path %></li>
            <li><%= link_to 'Schema Cache', rails_schema_cache_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Generators', rails_generators_path %></li>
            <li><%= link_to 'Engines', rails_engines_path %></li>
            <li class="hide"><%= link_to 'Instrumentation', rails_instrumentation_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Active Support <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Overview', active_support_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Dependencies', active_support_dependencies_path %></li>
            <li><%= link_to 'Inflectors', active_support_inflectors_path %></li>
            <li><%= link_to 'Time Zones', active_support_time_zones_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gems <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Overview', gems_path %></li>
            <li class="divider"></li>
            <%- if defined?(::ActiveJob) %>
              <li><%= link_to 'ActiveJob', active_job_path %></li>
            <%- end %>
            <%- if defined?(::Devise) %>
              <li><%= link_to 'Devise', devise_path %></li>
            <%- end %>
            <%- if defined?(::CanCanCan) %>
              <li><%= link_to 'CanCanCan', cancancan_path %></li>
            <%- end %>
            <%- if defined?(::Paperclip) %>
              <li><%= link_to 'Paperclip', paperclip_path %></li>
            <%- end %>
            <%- if defined?(::GetProcessMem) %>
              <li><%= link_to 'GetProcessMem', gems_get_process_mem_path %></li>
            <%- end %>
            <li><%= link_to 'HTTP Clients', gems_http_clients_path %></li>
            <li><%= link_to 'JSON', gems_json_path %></li>
            <li><%= link_to 'Other', gems_other_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ruby <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Overview', ruby_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Tuning', ruby_tuning_path %></li>
            <li><%= link_to 'Extensions', ruby_extensions_path %></li>
            <li><%= link_to 'Constants', ruby_constants_path %></li>
            <li><%= link_to 'Miscellaneous', ruby_miscellaneous_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="row">
<%= yield -%>
</div>
</div>

<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
<%= content_for(:javascripts) -%>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
