<h2>Database</h2>

<h3>Connection Configuration</h3>
<dl class="dl-horizontal">
<%- ActiveRecord::Base.connection_config.each do |key,val| -%>
  <dt><%= key %></dt><dd><%= 'password'==key.to_s ? '--FILTERED--' : val %></dd>
<%- end -%>
</dl>

<h3>Current Connection</h3>
<p>ActiveRecord::Migrator.current_version = <%= ActiveRecord::Migrator.current_version %></p>
<p>Adapter Name = <%= @conn.adapter_name %></p>
<p>Adapter Class = <%= @conn.class %></p>
<p>Connected? = <%= ActiveRecord::Base.connected? %></p>
<p>Pool size = <%= ActiveRecord::Base.connection_pool.size rescue 'N/A' %></p>
<p>Schema Cache size = <%= @conn.schema_cache.size rescue 'N/A' %></p>

<%- if defined?(PG::Connection) && ActiveRecord::Base.connection.raw_connection.class <= PG::Connection -%>
  <h3>PostgreSQL Prepared Statements</h3>
  <table class="table table-condensed">
    <% statements = ActiveRecord::Base.connection.raw_connection.exec("select * from pg_prepared_statements order by prepare_time;").to_a %>
    <% statements.each do |row| %>
      <tr>
        <td><%= row["name"] %></td>
        <td><%= row["statement"] %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%- if defined?(ActiveRecord::ConnectionAdapters::PostgreSQLAdapter) && @conn.class <= ActiveRecord::ConnectionAdapters::PostgreSQLAdapter -%>

<%- statement_pool = @conn.instance_variable_get(:@statements) %>
<%- if statement_pool.present? %>
  <h3>Prepared Statement Pool</h3>
    <p>Max = <%= statement_pool.instance_variable_get(:@max) %></p>
    <p>Counter = <%= statement_pool.instance_variable_get(:@counter) %></p>
    <h4>Cache</h4>
    <ol>
    <%- statement_pool.instance_variable_get(:@cache).each do |pid,cache| %>
      <li>PID: <%= pid %>
        <ol>
          <%- cache.each do |k,v| %>
            <li><%= v %> = <%= k %></li>
          <%- end %>
        </ol>
      </li>
    <%- end %>
    </ol>
<%- end %>


<h3>PostgreSQL-only Info</h3>
<p>Database = <%= @conn.current_database %></p>
<p>Schema = <%= @conn.current_schema %></p>
<p>Encoding = <%= @conn.encoding %></p>
<p>Collation = <%= @conn.collation %></p>
<p>Ctype = <%= @conn.ctype %></p>

<h3>Extensions</h3>
<ul class="dl-horizontal">
  <%- if @conn.extensions.size==0 -%>
      <li>None</li>
  <%- end -%>
  <%- @conn.extensions.each do |extension| -%>
      <li><%= extension %></li>
  <%- end -%>
</ul>
<%- end -%>

<h3>Tables (Data Sources) (<%= @data_sources.size %>)</h3>
<p><%= @data_sources %></p>

<h3>Native DB Types Supported</h3>
<dl class="dl-horizontal">
  <%- @conn.native_database_types.each do |key,val| -%>
      <dt><%= key %></dt><dd><%= val %></dd>
  <%- end -%>
</dl>

