<h1>Rails Configuration</h1>

<h2>Config Settings</h2>
<pre>
Rails Version = <%= Rails::VERSION::STRING %>
</pre>

<dl class="dl-horizontal">
  <%- Rails.configuration.instance_variables.sort.each do |symbol| %>
    <dt><%= symbol %></dt>
    <dd><samp><%= Rails.configuration.instance_variable_get(symbol) %></samp></dd>
  <%- end %>
</dl>

<h2>Application</h2>
<dl class="dl-horizontal">
  <%- Rails.application.instance_variables.sort.each do |symbol| %>
      <dt><%= symbol %></dt>
      <dd><samp><%= Rails.application.instance_variable_get(symbol) %></samp></dd>
  <%- end %>
</dl>
