<h2>Models (<%= @models.size %>)</h2>

<% if (0 == @models.size) %>
No models were found in this application
<% end %>

<table class="table table-compact">
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Type</th>
    <th>Default</th>
    <th>Null</th>
    <th>Limit</th>
    <th>SQL Type</th>
    <th>Precision</th>
    <th>Scale</th>
  </tr>
<% @models.each do |model| %>
  <% next if model.abstract_class? || ! model.table_exists? %>
<tr>
  <th colspan="9"><%= model.name %> (<%= model.table_name %>)</th>
</tr>
  <% model.columns.each do |col| %>
      <tr>
        <td>&nbsp;</td>
        <td><%= col.name || Rails.configuration.filtered_parameters %></td>
        <td><%= col.type %></td>
        <td><%= col.default %></td>
        <td><%= 'false' unless col.null %></td>
        <td><%= col.limit %></td>
        <td><%= col.sql_type %></td>
        <td><%= col.precision %></td>
        <td><%= col.scale %></td>
      </tr>
  <% end %>
<% end %>
</table>

<% @models.each do |model| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= model.name %></h3>
  </div>
  <div class="panel-body">
    Stored attributes = <%= model.stored_attributes %><br/>
    Save callbacks = <%= model.send('_save_callbacks').count %><br/>
    Associations = <%= model.reflect_on_all_associations.count %><br/>
    Reflections = <%= model.reflections.keys.to_s %><br/>
    <% if model.respond_to?(:find_by_statement_cache) %>
      FindBy Statement Cache:<br/>
      <%= model.find_by_statement_cache.map {|k,v| "#{k}=>#{v.query_builder.instance_variable_get(:@sql)}"}.join('<br/>') %>
    <% end %>
  </div>
</div>

<% end %>


<pre>
<% @models.each do |model| %>
<%= model.inspect.to_s %>

<% end %>
</pre>
