<h1>Ruby Configuration</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#ruby" role="tab" data-toggle="tab">Ruby</a></li>
  <li><a href="#environment" role="tab" data-toggle="tab">Environment (<%= ENV.size %>)</a></li>
  <li><a href="#load_path" role="tab" data-toggle="tab">Load Path (<%= $LOAD_PATH.size %>)</a></li>
  <li><a href="#loaded_features" role="tab" data-toggle="tab">Loaded Features (<%= $LOADED_FEATURES.size %>)</a></li>
  <li><a href="#rbconfig" role="tab" data-toggle="tab">Ruby Config</a></li>
  <li><a href="#bundler" role="tab" data-toggle="tab">Bundler</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="ruby">
    <dl class="dl-horizontal">
      <dt>RUBY_ENGINE</dt><dd><%= RUBY_ENGINE %></dd>
      <dt>RUBY_VERSION</dt><dd><%= RUBY_VERSION %></dd>
      <dt>RUBY_PATCHLEVEL</dt><dd><%= RUBY_PATCHLEVEL %></dd>
      <dt>RUBY_RELEASE_DATE</dt><dd><%= RUBY_RELEASE_DATE %></dd>
      <dt>RUBY_REVISION</dt><dd><%= RUBY_REVISION %></dd>
      <dt>RUBY_PLATFORM</dt><dd><%= RUBY_PLATFORM %></dd>
      <dt>RUBY_DESCRIPTION</dt><dd><%= RUBY_DESCRIPTION %></dd>
      <dt>RUBY_COPYRIGHT</dt><dd><%= RUBY_COPYRIGHT %></dd>
    </dl>
    <h3>RUBYOPT</h3>
    <p>The RUBYOPT environment variable can be set pass command line options to Ruby.</p>
    <pre><%= ENV.fetch('RUBYOPT') { 'Not set'} %></pre>

    <h3>RubyVM::DEFAULT_PARAMS</h3>
    <p>The Ruby VM default parameters are the default values for this version of Ruby. They are not configurable.</p>
    <table class="table table-condensed" style="width: auto;">
      <tr>
        <th>Setting</th>
        <th>Value</th>
      </tr>
      <% RubyVM::DEFAULT_PARAMS.each do |k, v| %>
        <tr>
          <td><%= k.inspect %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>

    <h3>RubyVM::OPTS</h3>
    <p>The RubyVM OPTS are build-time settings specified when Ruby is compiled.</p>
    <pre><%= RubyVM::OPTS.inspect %></pre>
  </div>


  <div class="tab-pane" id="rbconfig">
    <h3>RbConfig</h3>
    <p>RbConfig records the compile-time settings that were used to build ruby.</p>

    <p>
      <code>RbConfig.ruby</code> = <code><%= RbConfig.ruby -%></code>
      <br>
      <code>RbConfig::TOPDIR</code> = <code><%= RbConfig::TOPDIR -%></code>
    </p>

    <h3>RbConfig::CONFIG</h3>
    <table class="table table-condensed" style="width: auto;">
      <tr>
        <th>Setting</th>
        <th>Value</th>
        <th>Unexpanded Value</th>
      </tr>
      <% RbConfig::CONFIG.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><code><%= v %></code></td>
          <td><code><%= RbConfig::MAKEFILE_CONFIG[k] %></code></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="tab-pane" id="environment">
    <p>
      The <code>ENV</code> (<%= ENV.size %> entries) includes
      the environment variables.
    </p>
    <pre>
<% @filtered_env.each do |key, val| -%>
<%= key %> = <%= val %>
<% end -%>
    </pre>
  </div>

  <div class="tab-pane" id="bundler">

    <h2>Configuration</h2>
    <dl>

      <dt>Version</dt><dd><%= ::Bundler::VERSION %></dd>
      <dt>Local config file</dt><dd><%= Bundler.settings.send(:local_config_file) %></dd>
      <dt>Global config file</dt><dd><%= Bundler.settings.send(:global_config_file) %></dd>
      <dt>Require sudo?</dt><dd><%= Bundler.requires_sudo? %></dd>
      <dt>Allow sudo?</dt><dd><%= Bundler.settings.allow_sudo? %></dd>
    </dl>
    <h2>Settings</h2>
    <dl>
      <% Bundler.settings.all.each do |key| %>
          <dt><%= key %></dt>
          <dd><%= Bundler.settings.pretty_values_for(key)[0] %></dd>
      <% end %>
    </dl>
  </div>

  <div class="tab-pane" id="load_path">
    <p>
      The <code>$LOAD_PATH</code> (<%= $LOAD_PATH.size %> entries) lists
      the directories that will be searched when code is loaded with
      <code>require</code> or <code>load</code>.
    </p>
    <ul>
      <%- $LOAD_PATH.each do |dir_name| %>
        <li><%= dir_name %></li>
      <%- end %>
    </ul>
  </div>

  <div class="tab-pane" id="loaded_features">
    <p>The following <b><%= $LOADED_FEATURES.size %></b> files have been loaded via <code>require</code> at some point.</p>
    <ul>
      <%- $LOADED_FEATURES.each do |filename| %>
        <li><%= filename %></li>
      <%- end %>
    </ul>
  </div>

</div>
