<h1>Tuttle Dashboard</h1>

<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rails</h3>
      </div>
      <div class="panel-body">
        <p>Version: <%= Rails::VERSION::STRING %></p>
        <p>Environment: <%= Rails.env %></p>
        <p>Root: <%= Rails.root %></p>
        <p>Database: <%= ::ActiveRecord::Base.connection.adapter_name rescue 'N/A' %></p>
        <p>Caching: <%= truth_label(::ActionController::Base.send(:cache_configured?), 'Enabled', 'Disabled') %></p>
      </div>
      <div class="panel-footer">
        <%= link_to "Configuration", rails_path, :class=> %w(btn btn-primary), :role=>'button' %>
        <%= link_to "Database", rails_database_path, :class=> %w(btn btn-primary), :role=>'button' %>
        <%= link_to "Asset Pipeline", rails_assets_path, :class=> %w(btn btn-primary), :role=>'button' %>
        <%= link_to "Caching", rails_cache_path, :class=> %w(btn btn-primary), :role=>'button' %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Libraries and Frameworks</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to 'ActiveSupport', active_support_path %></li>
        <%- if defined?(::ActiveJob) %>
          <li class="list-group-item"><%= link_to 'ActiveJob', active_job_path %></li>
        <%- end %>
        <%- if defined?(CanCanCan) %>
          <li class="list-group-item"><%= link_to 'CanCanCan', cancancan_path %></li>
        <%- end %>
        <%- if defined?(Devise) %>
          <li class="list-group-item"><%= link_to 'Devise', devise_path %></li>
        <%- end %>
        <li class="list-group-item"><%= link_to 'HTTP Clients', gems_http_clients_path %></li>
        <li class="list-group-item"><%= link_to 'JSON', gems_json_path %></li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Performance Tuning</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to 'Ruby VM tuning', ruby_tuning_path %></li>
        <li class="list-group-item"><%= link_to 'Request Profiling', gems_other_path(:anchor => 'request-profiler') %></li>
      </ul>
    </div>

  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tuttle</h3>
      </div>
      <div class="panel-body">
        <p>Tuttle Version: <%= Tuttle::VERSION %></p>
        <p>Mode: <%= Rails.env %></p>
        <p>Session ID: <%= Tuttle::Engine.session_id %></p>
        <p>Uptime: <%= time_ago_in_words(Tuttle::Engine.session_start) %> (<%= Tuttle::Engine.session_start.to_s(:db) %>)</p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ruby</h3>
      </div>
      <div class="panel-body">
        <p>Version: <%= RUBY_DESCRIPTION %></p>
        <p>Gems: <%= Bundler.rubygems.all_specs.size %></p>
      </div>
      <div class="panel-footer">
        <%= link_to "Configuration", ruby_path, :class=> %w(btn btn-primary), :role=>'button' %>
        <%= link_to "Gems", gems_path, :class=> %w(btn btn-primary), :role=>'button' %>
      </div>
    </div>

  </div>

</div>
