<h1>Active Support Dependencies</h1>

<!-- TODO: add option to toggle log/activity and control logger at runtime -->

<table class="table table-condensed">
  <tr>
    <th>Setting</th>
    <th>Value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>warnings_on_first_load</td>
    <td><%= truth_label(ActiveSupport::Dependencies.warnings_on_first_load) %></td>
    <td>Should we turn on Ruby warnings on the first load of dependent files?</td>
  </tr>
  <tr>
    <td>log_activity</td>
    <td><%= truth_label(ActiveSupport::Dependencies.log_activity) %></td>
    <td>Set to +true+ to enable logging of const_missing and file loads.</td>
  </tr>
  <tr>
    <td>mechanism</td>
    <td><code><%= ActiveSupport::Dependencies.mechanism %></code></td>
    <td>Should we load files or require them?</td>
  </tr>
</table>

<h3>Autoload Paths (<%= ActiveSupport::Dependencies.autoload_paths.size %> directories)</h3>
<p>
  The set of directories from which we may automatically load files. Files
  under these directories will be reloaded on each request in development mode,
  unless the directory also appears in autoload_once_paths.
</p>
<ul>
  <%- ActiveSupport::Dependencies.autoload_paths.each do |path_name| %>
    <li><%= path_name %></li>
  <%- end %>
</ul>

<h3>Autoload Once Paths (<%= ActiveSupport::Dependencies.autoload_once_paths.size %> directories)</h3>
<p>
  The set of directories from which automatically loaded constants are loaded
  only once. All directories in this set must also be present in +autoload_paths+.
</p>
<ul>
  <%- ActiveSupport::Dependencies.autoload_once_paths.each do |path_name| %>
    <li><%= path_name %></li>
  <%- end %>
</ul>

<h3>Explicitly Unloadable Constants (<%= ActiveSupport::Dependencies.explicitly_unloadable_constants.size %> constants)</h3>
<p>
  An array of constant names that need to be unloaded on every request. Used
  to allow arbitrary constants to be marked for unloading.
</p>
<ul>
  <%- ActiveSupport::Dependencies.explicitly_unloadable_constants.each do |const| %>
    <li><%= const %></li>
  <%- end %>
</ul>

<h3>Autoloaded Constants (<%= ActiveSupport::Dependencies.autoloaded_constants.size %> constants)</h3>
<p>
  An array of qualified constant names that have been loaded.
</p>
<ul>
  <%- ActiveSupport::Dependencies.autoloaded_constants.each do |const| %>
    <li><%= const %></li>
  <%- end %>
</ul>

<h3>Loaded files (<%= ActiveSupport::Dependencies.history.size %> files)</h3>
<ul>
<% ActiveSupport::Dependencies.history.sort.each do |loaded_file| %>
  <li><%= loaded_file %><%= ActiveSupport::Dependencies.loaded.include?(loaded_file) ? nil : ' - NOT LOADED' %></li>
<% end %>
</ul>
